# Node
**/node_modules
**/dist
**/.vite
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-error.log*

# Git
.git
.gitignore
.github

# Runtime data
storage
reports

# Docs
**/*.md

# Env
.env
.env.*
!.env.example

# Python
**/__pycache__
**/*.py[cod]
**/.pycache
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.egg-info
**/.venv
**/venv

# Editors
.vscode
.idea
